.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
Thumbs.db
*.stackdump
.env
.env.local
.venv
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.idea/
*.swp
*.swo
*~
.spyderproject
.spyproject
.ropeproject
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
.pyre/
.pytype/
.ipynb_checkpoints/
profile_default/
ipython_config.py
.streamlit/secrets.toml
data/
!data/.gitkeep
!data/NGALANGIN_v3_dataset/
data/NGALANGIN.v3-batch-3-motor-gerobak.coco-segmentation.zip
outputs/
!outputs/.gitkeep
scripts/
!scripts/.gitkeep
models/
!models/.gitkeep
!models/yolov11_seq_obstacle.pt
!models/yolov11x_seq_environment.pt
*.pt
*.pth
*.h5
*.keras
*.onnx
*.pb
*.pkl
